.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
}
main{
    display: grid;
    max-width: 1150px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 20px;
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: hsl(217, 19%, 35%);
        box-shadow: 0px 10px 20px rgb(0,0,0,0.3 );
        border-radius: 15px;
        padding: 30px 40px;
    }
    .card__head {
        display: flex;
        align-items: center;
        color: hsl(0, 0, 81%);
        margin-bottom: 10px;
    }
    .card__head img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        border: 2px solid #fff;
    }
    .name{
        font-weight: 600;
        font-size: 15px;
    }
    title{
        opacity: 0.5;

    }
    .card__heading{
        color: #fff;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .card__detail{
        color: hsl(0,0, 81%);
        line-height: 1.5;
        opacity: 0.7;
    }
    .card-1{
        grid-column: 1/3;
        background-color: hsl(263,55% ,52% );
        background-image: url(images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position:80% 0;
    }
    .card-2{
        grid-column: 3/4;
    }
    .card-3{
        grid-row: 2/3;
        grid-column: 1/2;
        background-color: #fff;
    }
    .card-4{
       grid-row: 2/3;
       grid-column: 2/4;
    }
    .card-5{
        grid-row: -1/1;
        grid-column: 4/5;
        background-color: #fff;    
    }
    .card-3 .card__heading
    .card-3 .card__head
    .card-3 .card__detail
    .card-5 .card__heading
    .card-5 .card__head
    .card-5 .card__detail{
        color: #222;
    }
    @media(max-width:1024px){
        body{
            padding: 20px;
        }
        main{
            grid-template-columns:repeat(3,1);
            grid-template-rows: repeat(3,min-content);
            width: 95%;
            grid-gap: 15px;
        }
        .card-1{
            grid-column: 1/3;
        }
        .card-2{
            grid-column: 3/4;
        }
        .card-5{
            grid-column: 1/4;
            grid-row: 3/4;

        }
        
    }
    @media(max-width:768px){
        main{
            margin-top: 20px;
            grid-template-columns: repeat(autofill,minmax(50%,1fr));
            grid-template-rows: minmax(auto,auto);
        }
        .card{
            grid-column: unset !important;
            grid-row: unset !important;
        }
    }